{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="quantity" placeholder="Quantity" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
    {% if quantity %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-middle"> You purchased {{ quantity }} shares of {{ name }} totaling {{ price }} </th>
            </tr>
        </thead>
    </table>
    {% endif %}
{% endblock %}
